---
import Layout from '../../../layouts/Layout.astro';
import projects from '../../../utils/projects.json';

interface Project {
  slug: string;
  title: string;
  sourceCode: string;
  link: string;
}

export async function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project },
    };
  });
}

const { project }: Record<string, Project> = Astro.props;
---

<Layout title={'Project | ' + project.title}>
    {project.title} <br/>
    <a href={project.link} target="_blank">deploy</a> <br/>
    <a href={project.sourceCode} target="_blank">github</a>
</Layout>
