---
import SectionContent from '../SectionContent.astro';
---

<SectionContent id='about' title='Acerca de mí'>
  <div class='text-gray-200'>
    <p class='mb-4 [&>span]:text-green'>
      Desde 2019 estoy estudiando <span>TIC</span> y en 2021 fue que entré en el
      mundo del desarrollo web realizando mi primera aplicación web
      <span>(ecommerce)</span> junto con mi equipo, el siguiente año volvería a realizar
      un nuevo proyecto, una aplicación de recordatorios, con los mismos compañeros
      del año anterior. Fuí desarrollando costumbres autodidactas aprendiendo lenguajes
      y frameworks para empezar con mis propios proyectos personales.
    </p>
    <p class='mb-4'>
      Sé que aún me falta mucho por aprender y conocimientos por pulir, pero es
      algo en lo que estoy trabajando.
    </p>
    <p>
      Si estás interesado y deseas ayudarme no dudes en contactarme.
      <span class='text-gray-100'>;)</span>
    </p>
  </div>
</SectionContent>
