---
import ProjectCard from '../components/ProjectCard.astro';
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';
import projects from '../utils/projects.json';

export interface Project {
  title: string;
  slug: string;
  description: string;
  categories: string[];
  sourceCode: string;
  link: string;
}
---

<Layout title='Home'>
  <Section>
    <div class='text-green sm:text-xl'>
      <h2>Hola, me llamo</h2>
    </div>
    <div class='text-3xl sm:text-5xl lg:text-7xl font-semibold text-gray-100'>
      <h3>Jeferson Limay.</h3>
    </div>
    <div class='text-gray-200 sm:text-xl mt-5 max-w-md'>
      <p>
        Soy estudiante de Tecnologías de la Información y Comunicación (TIC).
        Soy programador autodidacta que se dedica realizar cosas pequeñas en la
        web :)
      </p>
    </div>
    <div class='text-green mt-12'>
      <a
        href='https://github.com/JefersonLC'
        class='border py-4 px-6 border-green rounded-md hover:bg-green hover:text-blue-100'
      >
        Perfil de GitHub
      </a>
    </div>
  </Section>
  <Section>
    <div class='text-3xl sm:text-4xl font-semibold text-gray-100'>
      <h2 id='projects'>Algunos proyectos:</h2>
    </div>
    <div class='grid grid-cols-1 sm:grid-cols-2 gap-3 mt-6'>
      {projects.map((project: Project) => <ProjectCard project={project} />)}
    </div>
  </Section>
</Layout>
