---
import Layout from '../layouts/Layout.astro';
import ProjectsList from '../react/ProjectsList';
---

<Layout title='Home'>
  <section
    class='h-screen flex flex-col align-middle justify-center px-4 sm:px-10 gap-3'
  >
    <div class='text-green'>
      <h2>Hola, me llamo</h2>
    </div>
    <div class='text-3xl font-semibold text-gray-100'>
      <h3>Jeferson Limay.</h3>
    </div>
    <div class='text-gray-200'>
      <p>
        Soy estudiante de Tecnologías de la Información y Comunicación (TIC).
        Soy programador autodidacta que se dedica realizar cosas pequeñas en la
        web :)
      </p>
    </div>
    <div class='text-green mt-12'>
      <a
        href='https://github.com/JefersonLC'
        class='border py-4 px-6 border-green rounded-md hover:bg-green hover:text-blue-100'
        >Perfil de GitHub</a
      >
    </div>
  </section>
  <section
    class='h-screen flex flex-col align-middle justify-center px-4 sm:px-10 gap-3'
  >
    <div class='text-3xl font-semibold text-gray-100'>
      <h2 id='projects'>Algunos proyectos:</h2>
    </div>
    <ProjectsList client:visible />
  </section>
</Layout>
