---
import Layout from '../layouts/Layout.astro';
import ProjectsList from '../react-components/ProjectsList'

---

<Layout title='Home'>
  <section>
    <ProjectsList client:only />
  </section>
</Layout>
