---
import Layout from '../layouts/Layout.astro';

interface Image {
  id: number;
  description: string;
  image: string;
  user: {
    name: string;
    lastname: string;
    id: string;
  };
}

const response = await fetch('http://localhost:8000/api/images');
const data: Image[] = await response.json();
---

<Layout title='Home'>
  <section>
    {
      !response.ok 
      ? ( <div>404</div>) 
      : (data.map((image) => (
          <div>
            <div>
              <img src={image.image} width='100' height='100' />
            </div>
            <div>
              <p>{image.description}</p>
              <span>{image.user.id}</span>
            </div>
          </div>
        ))
      )
    }
  </section>
</Layout>
