---
import LinkList from '../react/Nav';
---

<>
  <div
    id='overlay'
    class='fixed left-0 w-full h-full bg-black bg-opacity-60 z-10'
  >
  </div>
  <button
    id='openMenuButton'
    class='fixed top-8 left-0 rounded-r-full bg-green-500 w-12 h-12 border-none cursor-pointer'
  >
    Abrir
  </button>
  <aside
    id='aside'
    class='bg-red-300 fixed top-0 bottom-0 max-w-xs w-full z-20 transition-all'
  >
    <button id='closeMenuButton'>Cerrar</button>
    <LinkList />
  </aside>
</>

<script>
  let visible = false;

  const openButton = document.getElementById(
    'openMenuButton'
  ) as HTMLButtonElement;

  const closeButton = document.getElementById(
    'closeMenuButton'
  ) as HTMLButtonElement;

  const body = document.getElementById('body') as HTMLBodyElement;

  const aside = document.getElementById('aside') as HTMLElement;

  const overlay = document.getElementById('overlay') as HTMLElement;

  function setClasses(): void {
    overlay.classList.add(visible ? 'block' : 'hidden');
    overlay.classList.remove(!visible ? 'block' : 'hidden');
    aside.classList.add(visible ? 'left-0' : '-left-80');
    aside.classList.remove(!visible ? 'left-0' : '-left-80');
  }

  setClasses();

  openButton.addEventListener('click', (e: Event) => {
    visible = true;
    setClasses();
    body.classList.add('overflow-hidden');
  });

  closeButton.addEventListener('click', (e: Event) => {
    visible = false;
    setClasses();
    body.classList.remove('overflow-hidden');
  });
</script>
