---
import LinkList from '../react/Nav';
---

<>
  <div
    id='overlay'
    class='fixed left-0 w-full h-full bg-black bg-opacity-60 z-10 hidden'
  >
  </div>
  <button
    id='openBtn'
    class='fixed top-8 left-0 rounded-r-full bg-green-500 w-12 h-12 border-none cursor-pointer sm:hidden'
  >
    Abrir
  </button>
  <aside
    id='aside'
    class='bg-red-300 fixed top-0 bottom-0 max-w-xs w-full z-20 -left-80 transition-all'
  >
    <button id='closeBtn'>Cerrar</button>
    <LinkList />
  </aside>
</>

<script>
  let visible = false;
  const openBtn = document.getElementById('openBtn') as HTMLButtonElement;
  const closeBtn = document.getElementById('closeBtn') as HTMLButtonElement;
  const body = document.getElementById('body') as HTMLBodyElement;
  const aside = document.getElementById('aside') as HTMLElement;
  const overlay = document.getElementById('overlay') as HTMLElement;

  function setClasses(): void {
    overlay.classList.add(visible ? 'block' : 'hidden');
    overlay.classList.remove(!visible ? 'block' : 'hidden');
    aside.classList.add(visible ? 'left-0' : '-left-80');
    aside.classList.remove(!visible ? 'left-0' : '-left-80');
  }

  openBtn.addEventListener('click', () => {
    visible = true;
    setClasses();
    body.classList.add('overflow-hidden');
  });

  closeBtn.addEventListener('click', () => {
    visible = false;
    setClasses();
    body.classList.remove('overflow-hidden');
  });

  const maxWitdh = 640; //px
  let actualWidth: number;

  window.addEventListener('resize', () => {
    actualWidth = window.innerWidth;

    if (actualWidth >= maxWitdh) {
      visible = false;
      setClasses();
      body.classList.remove('overflow-hidden');
    }
  });
</script>
