<footer class='text-gray-100 border-t-[1px] border-gray-100 py-6 text-sm'>
  <p class='text-xl font-bold'>{new Date().getFullYear()}</p>
  <p class='mt-4'>
    Jeferson Limay -
    <a
      class='hover:text-green hover:underline'
      href='mailto:c.jeferson.lc@gmail.com'
      target='_blank'
    >
      c.jeferson.lc@gmail.com
    </a>
  </p>
  <p class='mt-4 text-gray-200'>
    Desarrollado en Visual Studio Code. Construido con Astro y Tailwind CSS,
    desplegado con Vercel.
  </p>
</footer>
