---
import LinkList from '../react/LinkList';
import TogglerNav from '../react/TogglerNav';
import Nav from '../react/Nav';
---

<header
  class='fixed top-0 left-0 right-0 px-7 sm:px-20 py-5 flex justify-around text-xl z-10 dark:bg-darkblue' 
>
  <h2 class="flex-grow text-green">JL</h2>
  <div class='flex-grow text-end hidden sm:block'>
    <LinkList client:load />
  </div>
  <div class='flex-grow flex justify-end sm:hidden'>
    <TogglerNav client:load />
  </div>
</header>

<Nav client:load />
