---
import { icons } from '../utils/icons';
import SectionContent from './SectionContent.astro';
import SkillIcon from './SkillIcon.astro';
---

<SectionContent id='#skills' title='Habilidades'>
	<div
		class='text-gray-200 grid grid-cols-3 place-items-center gap-4'
	>
		{
			icons.map(({ name, Icon }) => (
				<SkillIcon name={name}>
					<Icon />
				</SkillIcon>
			))
		}
	</div>
</SectionContent>
