---
import { icons } from '../utils/icons';
import SectionContent from './SectionContent.astro';
---

<SectionContent id='#skills' title='Habilidades'>
	<div class='text-gray-200'>
		{icons.map(({ name, Icon }) => <Icon />)}
	</div>
</SectionContent>
